{% extends 'base.html.twig' %}

{% block content %}
    <div>
        <h1>Test your community! <img class="logo" src="{{ asset('pictures/image/undraw_Exams_re_4ios.png') }}"
                                      alt="bijleslogo" >
        </h1>
    </div>
{% endblock %}